.config-component__wrapper {
    // display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: black solid 1px;
    margin-bottom: 15px;
    padding: 20px;
}
.config-page__add-default-group-row {
    display: flex;
    cursor: pointer;
}
.config-page__add-icon {
    color: green;
}
.config-page__add-words {
    color: green;
    padding: 3px;
}
.config-page__add-style {
    display: flex;
    justify-content: space-between;

}
.config-component__first-row {
    display: flex;
    flex-flow: row wrap;
    
    /* This aligns items to the end line on main-axis */
    
    // padding-right: 15px;
}
.config-component__icon-row {
    display: flex;
    justify-content: space-between;
    // flex-flow: row wrap;
    
}
.config-compoment__gender {
    color: blue;
}
.config-component__label-style {
    font-size:large;
    font-weight: bold;
}
.config-component__value-style {
    font-size:large;
    padding-left: 1ch;
}
.config-component__title {
    color: red;
}
.config-component__trash-style {
    color: red;
    font-weight: bold;
    // flex: 1;
    font-size: large;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}
.config-component__edit-style {
    color: blue;
}
.config-component__trash-style {
    color: red;
}
.config-component__second-row {
    padding-left: 10px;
}
.gather-component__type-style {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-style: italic;
    font-weight: bold;
    color: green;
}
.config-new-group__wrapper {
    // display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: black solid 1px;
    margin-bottom: 15px;
    max-width: 500px;
    padding: 20px;
}
.config-new-group__group-detail-box {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 10px;
}
.config-new-group__gender-select {
    padding-left: 10px;
}